
[CAS]
lt_lifespan = 300
st_lifespan = 10
pt_lifespan = 10
pgt_lifespan = 600
tgt_lifespan = 86400
validate_pgturl = 0
ticket_size = 256

[PLUGINS]
cred_checker = LDAPSimpleBindChecker
realm = LDAPRealm
ticket_store = CouchDBTicketStore

[InMemoryTicketStore]
verify_cert = True

[LDAP]
host = 127.0.0.1
port = 389
basedn = dc=example,dc=org
binddn = cn=admin,dc=example,dc=org
bindpw = secret

[CouchDB]
host = 127.0.0.1
port = 6984
db = cas_tickets
user = castsuser
passwd = secret
https = 1
verify_cert = 0

