
[CAS]
lt_lifespan = 300
st_lifespan = 10
pt_lifespan = 10
pgt_lifespan = 600
tgt_lifespan = 86400
validate_pgturl = 0
ticket_size = 256
static_dir = /path/to/static/content

[PLUGINS]
cred_checker = ldap_simple_bind
realm = ldap_realm
view_provider = jinja2_view_provider
ticket_store = couchdb_ticket_store

[Jinja2ViewProvider]
template_dir = /path/to/templates

[JSONServiceManager]
path = /path/to/serviceRegistry.json

[InMemoryTicketStore]
verify_cert = 0

[LDAP]
host = 127.0.0.1
port = 389
basedn = dc=example,dc=org
binddn = cn=admin,dc=example,dc=org
bindpw = secret

[CouchDB]
host = 127.0.0.1
port = 6984
db = cas_tickets
user = castsuser
passwd = secret
https = 1
verify_cert = 0

