Jinja2==2.7.3
MarkupSafe==0.23
Twisted==15.2.1
Werkzeug==0.9.6
cffi==1.1.2
characteristic==14.3.0
cryptography==0.9.3
klein==0.2.3
pyOpenSSL==0.15.1
pyasn1==0.1.8
pyasn1-modules==0.0.7
pycparser==2.14
pycrypto==2.6.1
pyparsing==2.0.2
python-dateutil==2.2
service-identity==14.0.0
six==1.9.0
treq==15.0.0
wsgiref==0.1.2
zope.interface==4.1.2
argparse==1.2.1
enum34==1.0.4
idna==2.0
ipaddress==1.0.14
ldaptor==0.0.54
requests==2.7.0
